.wrapper__filter {
    display: flex;
    position: relative;
    text-align: center;

}

label {
    color: grey;
    font-size: 25px;
    font-weight: 100px;
}

input {
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    background-color: rgba(253, 250, 250, 0.993);
    border: 3px solid #f4e2c5;
}

.searchBar input {
    width: 50%;
}

.searchBar {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.maxnmin {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .wrapper__filter {
        flex-direction: column;
        align-items: center;
    }

    .searchBar input {
        width: 70%;
    }
}

@media (max-width: 400px) {
    label {
        font-size: 20px;
    }

    input {
        width: 70%;
        padding: 0.5rem;
        margin: 0.5rem;
        font-size: 14px;
    }

    .searchBar input {
        width: 80%;
    }

    .maxnmin {
        font-size: 14px;
    }
}