.nav {
    padding: 30px;
    position: relative;
    background-color: white;

}


.nav-item {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-family: 'EB Garamond', serif;
    font-style: italic;
}

.nav-item a {
    text-decoration: none;
    display: inline-block;
    color: #283618;
    text-shadow: 1px 1px #606c38;
    font-size: 20px;
    position: relative;
}

.nav-item a::before {
    content: '';
    width: 0;
    height: 3px;
    background-color: #283618;
    transition: width 0.5s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-item a:hover::before {
    width: 100%;
}


@media screen and (max-width: 800px) {
    .nav-item {
        padding: 10px;
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .nav {
        padding: 20px;
    }

    .nav-item {
        padding: 5px;
        font-size: 14px;
    }
}