* {
    margin: 0;
    padding: 0;
}

.mySlides img {
    height: 95vh;
    width: 100%;
    filter: brightness(1.1);
}

h1 {
    display: flex;
    text-align: center;
    font-family: 'EB Garamond', serif;
    padding-top: 20px;
    font-size: 60px;
    letter-spacing: 35px;
    /* font-style: italic; */

    position: absolute;
    top: 35%;
    left: 25%;
    right: 50%;
    transform: translate(-50%, -50%);
    color: #283618;
    text-shadow: 2px 2px #ccd5ae;
    font-style: italic;
}

.homediv h2 {
    display: inline-block;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    letter-spacing: 5px;
    /* font-style: italic; */

    color: #efd878;
    text-shadow: 3px 3px #283618;
    font-style: italic;
    margin-bottom: 2rem;

}



h4 {
    text-align: center;
    font-family: 'Macondo', cursive;
    /* font-family: 'East Sea Dokdo', cursive; */
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #283618;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 65%;
    text-shadow: 2px 2px #ccd5ae;
    font-style: italic;
}

.homediv p {
    color: #efd878;
    text-shadow: 2px 2px #283618;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 2rem;

}

.mainhome {
    display: grid;
    align-items: center;
    justify-content: center;
    background: url("../stem.jpg") no-repeat center;

    max-height: 100vh;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.homediv {
    margin: 1rem;
    padding: 10rem;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url("../gween.jpg") no-repeat center;
    background-size: cover;

    /* filter: blur(.3px); */
    border: 3px solid #efd878;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    /* transition: transform .3s ease-in-out; */

}



/* 
.homediv:hover {
    transform: scale(.9);
    cursor: pointer;
} */

.button2 {
    display: block;
    padding: 15px 25px;
    border: 1px solid #283618;
    border-radius: 25px;
    width: 30%;
    margin: 1rem;
    font-style: italic;
    font-size: 25px;
    color: #283618;
    text-decoration: none;
    transition: transform .3s ease-in-out;

}

.button2:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #ccd5ae;

}



.buttonhome {
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    text-decoration: none;
    color: #283618;
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .homediv {
        padding: 5rem;
    }

    .button2 {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .homediv {
        padding: 2rem;
    }

    h2 {
        font-size: 20px;
    }

    .button2 {
        width: 70%;
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }
}









/* .carousel .thumb {
    display: none;
} */